@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

.NewForm {
    padding: 10px;
    width: 100%;
       
}

.DivInput{
    justify-content:end;
    flex-direction: column;
    width: 100%;
    
}
.DivInput input {
width: 50%;
margin: 10px;

}

.DivInput label {

    width: 50%;
    margin: 10px;

}
.BotaoSalvar{
    width: 100%;
    align-items: flex-end;
  
    font-size: 15;
        
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    transition: 1.2s;
}

.header-endereco{
  
    margin-top: 60px;
  width: 380px;
    margin-left: 500px;
  align-items: center;
  align-content: center;
  height: 500px;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px black;
}

.Lista{
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    



}