@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

.NewForm {
    padding: 10px;
    
  

}

.DivInput{
    justify-content: space-between;
    float: left;
    width: 100%;

align-items: flex-end;
}
.DivInput input {
width: 50%;
margin: 10px;
float: right;

}

.BotaoSalvar{
    width: 100%;
    align-items: flex-end;
  
    font-size: 15;
        
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    transition: 1.2s;
}